{% extends 'product_app/base.html' %}

{% block content %}


<div class="container" >

        <div class="text-bg-light p-3"></div>
</div>
  <div class="container">
      <h1>
          Добро пожаловать в Ваш магазин
      </h1>
      <h3>
          Мы рады приветствовать вас в нашем онлайн-магазине, где стиль встречает удобство,
          а качество становится доступным для каждого.

Наша миссия

Наши стремления коренятся в предоставлении вам уникального и вдохновляющего опыта шопинга.
          Мы верим, что стиль — это не только внешность, но и выражение вашей личности.
          Поэтому мы тщательно отбираем каждый товар в нашем ассортименте, чтобы предоставить
          вам лучшие варианты для того, чтобы вы могли подчеркнуть свою индивидуальность.

Наш ассортимент

От трендовых новинок до классических вещей, наш ассортимент продукции создан с любовью к стилю
          и вниманием к деталям. Мы сотрудничаем с ведущими брендами и дизайнерами, чтобы предложить
          вам только лучшее.

Почему мы?

Качество: Мы гордимся тем, что предлагаем товары высочайшего качества, прошедшие строгий отбор.
Сервис: Наша команда готова ответить на все ваши вопросы и обеспечить вас лучшим обслуживанием.
Удобство: Мы делаем все возможное, чтобы ваш опыт покупок был простым, удобным и приятным.
Наша команда

Мы — команда энтузиастов, ценящих стиль, комфорт и качество. Наша цель — сделать ваш шопинг
          приятным и незабываемым.

Благодарим вас за выбор [Имя вашего магазина]. Мы уверены, что наши товары станут вашим надежным
          спутником в создании стильного образа!

С любовью и стилем,
      </h3>
      <h1>Ваш магазин</h1>
  </div>
   <div class="container">
<h2>Свяжитесь с нами:</h2>
   </div>
  <div class="container">
      <form method="post">
          {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Ваш имеил для обратной связи.</div>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Ваше Имя</label>
    <input name="name" type="text" class="form-control" id="name">
  </div>
          <div class="mb-3">
    <label for="message" class="form-label">Ваше сообщение</label>
    <input name="message"  type="text" class="form-control" id="message">
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
  </div>

{% endblock %}

{% block title %}
    <h1>about</h1>
{% endblock %}