{% extends 'product_app/base.html' %}
{% block content %}


<div class="row">
    <div class="-col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Материал "{{ object.title }}" ({{object.slug}})
                        </h3>
                        <div class="card-body">
                            <p>
                               {{ object.body }}
                            </p>
                            <div class="card-footer">
                                Просмотры: {{object.view_num}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block title %}
    Материал
{% endblock %}